main{
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

#intro-container{
    margin: 20px;
    /* border: 2px solid red; */
}

#intro-container img{
    height: 700px;
    width: 1400px;
    border: 1px solid white;
}