.contact-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-me-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 100px;
}

#image-container{
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin-top: 50px;
}

#contact-me p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

#contact-me p span{
    margin: 7px;
    margin-top: 14px;
}

#contact-me p a{
    text-decoration: none;
    color: #ffffff;
}

#contact-me h1{
    margin: 0px;
    color: #feb313;
}